@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-base: 'Alice', serif;
    --font-secondary: 'Poppins', sans-serif;

    --color-white: #FCFCFD;
    --color-primary: #04B90B;
    --color-black: #141416;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}